* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.App {
  width: 100%;

  height: 100vh;
  background-color: rgb(102, 102, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .osnova_stopwatch {
    width: 100%;
    max-width: 400px;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    .stopwatch_container {
      margin-top: 5px;
      margin-left: 30px;
      display: inline-block;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      .buttons {
        margin-left: auto;
        width: 250px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        .start {
          background-color: green;
        }
        .interval {
          background-color: gray;
        }
        button {
          padding: 10px 20px;
          cursor: pointer;
          border: none;
          border-radius: 5px;
          background: black;
          color: white;
        }
      }

      flex: 3;
      .circycle {
        background-color: black;
        width: 250px;
        border-radius: 50%;
        height: 250px;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        font-size: 20px;
        margin-left: auto;
      }
    }
    .item_stop {
      display: inline-block;
      flex: 1 1 100px;
      background-color: rgb(255, 255, 255);
      margin-left: 20px;

      h1 {
        text-align: center;
      }
      ul {
        height: 210px;

        list-style: none;
        display: flex;

        overflow-y: auto;
        align-items: center;
        flex-direction: column;
        li {
          width: 100px;
          margin: 5px 0;
          background-color: blue;

          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 20px;
          color: white;
          cursor: pointer;
        }
      }
      button {
        display: table;
        background-color: rgb(128, 0, 4);
        color: white;
        border: none;
        padding: 10px 20px;

        cursor: pointer;
        text-align: center;
        border-radius: 5px;
        margin: 10px auto;
      }
    }
    height: 300px;

    position: relative;
    .main_title {
      position: absolute;
      top: -25%;
      right: 0;
      left: 0;
      text-align: center;
      color: white;
      font-size: 40px;
    }
  }
}

.div_buttons {
  .btn {
    padding: 10px 20px;
    cursor: pointer;
    border: none;
    margin: 0 5px;
    border-radius: 5px;
    background: black;
    color: white;
    font-size: 25px;
    &:hover {
      background: rgb(128, 0, 4);
    }
  }
}
.timer {
  width: 400px;
  height: 300px;
  background-color: red;
  display: flex;
  flex-direction: column;
  .timer_main {
    width: 100%;
    flex: 0 1 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    .cirsycle {
      width: 190px;
      height: 190px;
      background-color: rgb(39, 201, 201);
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      .timer_input{
        text-align: center;
        display: flex;
        align-items: center;
        input{
     text-align: center;
          font-size: 20px;
          height: 30px;
          width:40px;
        }
      }
    }
  }
}
